#buttons {
    width: 100%;
}
button {
    margin: 10px 10px;
    background-color: lightblue;
    color: black;
}

.seconds {
    background: black;
    color: red;
    font-size: 3rem;
    width: 50px;
    text-align: center;
    position: relative;
    left: 50px;
    top: 5px;
}
.center {
    position: relative;
    top: 40%;
    left: 40%;
}